﻿<%@ Page Title="about" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="RXFireBug.About" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <hgroup class="title">
        <h1><%: Title %>.</h1>
        <h2>RXFireBug</h2>
    </hgroup>

    <article>
        <p>
            <em>RXFireBug is a realy realy simple Bug trac system,How simple it is?</em>
        </p>

        <ol class="round">
            <li class="one">just basic bug process flow is supported</li>
            <li class="two">really simple bug statistics and admin</li>
            <li class="three">no performance, appearance, security is consided</li>
        </ol>

        <p>
            <em>RXFireBug is not a really producted system in many conditions</em>, but it maybe also can be used in realy small project.
            This system based on asp.net, server controls ared used, I didn't add pagging function, so it will show all data that match certain condition.
            In fact, I am new in asp.net, I write it just as a practice, so I can't guarantee no error in it.If you used it in your project, you have to take to 
            risk for your choice,In fact if you wish to build yourself's bug manage system, there are many other Open Source Bug Manage System available, maybe other
            robust Open Source Sytem is what you should use.you can search internet for detail.
        </p>

        <p>
            Because it's simple, so I release it for who is just new for asp.net like me and hope finding a simple example to read.Since what I said, I am not a asp.net
           expert, so you should know that maybe there are a lot of bad code in this system.I am Sorry for that! ;-)
        </p>

        <p>
            I am not sure if I will continue develope it for more power,but if you hope, you can do it.Every one who want to modify, extend, improve it is welcome!
            About licence? OK, it's too simple, so No licence, you are totally free for it.
        </p>

        <p>
            contact me? Email：yybcjq@gmail.com   
        </p>

        <p>
            default admin account：     user:Admin pwd:123456
        </p>

    </article>
</asp:Content>
